.student-management-container {
    margin-left: 250px;
    padding: 20px;
}

.addstudent, .adduser {
    margin: 20px 0;
    background-color: rgb(117, 36, 9);
    padding: 10px;
    color: white;
    border-radius: 5px;
    display: block;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header input {
    flex: 1;
    margin-right: 10px;
}

/* Responsive Table */
table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

@media (max-width: 768px) {
    .student-management-container {
        margin-left: 0px;
        padding: 10px;
    }

    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    .addstudent, .adduser {
        width: 100%;
        margin: 10px 0;
    }

    .header {
        flex-direction: column;
    }

    .header input {
        margin: 10px 0;
        width: 100%;
    }
}
